{% extends "layout.html" %}
{% block content %}
<div class="container ">
    <form action="{{ url_for('item') }}" method="post">

        <div class="row justify-content-center  ">
            <div class="form-group col-lg-6 ">
                <div class="input-group mb-3">
                    <input type="text" name="item_id" class="{% if error %} form-control is-invalid {% else %} form-control {% endif%}" placeholder="Wprowadź numer ID przedmiotu" aria-label="Recipient's username" aria-describedby="basic-addon2">

                    <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Load</button>
                        </div>
                    {%if error%}
                    <div class="invalid-feedback "style="text-align:center">
                        Wprowadź poprawny numer ID
                    </div>
                    {%endif%}
                </div>
            </div>
        </div>

    </form>
</div>

{% endblock content %}
