{% extends "layout.html" %}
{% block content %}
<div class="container" style="background-color:#e9ecef;height:1200px">
    <div class="row p-3">
        <div class="col-lg-12"><h1 class="display-4">Cel Aplikacji</h1></div>
    </div>
    <div class="row p-3">
        <div class="col-lg-4">Pobranie oraz wyświetlenie danych na temat naszego ulubionego produktu.</div>
        <div class="col-lg-8"></div>

    </div>
    <div class="row p-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-10"><h1 class="display-4">Opis działania aplikacji</h1></div>

    </div>
    <div class="row p-3">
        <div class="col-lg-2"></div>
        <div class="col-lg-6">Po wpisaniu numeru ID produktu w zakładce <mark>Esktraktor Opinii</mark> zostaną pobrane dane o przedmiocie, oraz jego opinie. Następnie zapisane w pliku JSON.
        Dane zostają wyświetlone na stronie produktu, do której zostaniemy automatycznie przekierowani. Opinie można przefiltrować jak i posortować według opowiedniego parametru.
        Po kliknięciu <mark>Zobacz Wykresy</mark> zostaniemy przekierowani do strony z wykresami graficznymi przedmiotu. W zakładce <mark>Lista Przedmiotów</mark> znajdziemy przedmioty, których opinie zostały już pobrane.</div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row p-3">
        <div class="col-lg-4"></div>
        <div class="col-lg-8"><h1 class="display-4">Zastosowane biblioteki</h1></div>

    </div>
    <div class="row p-3">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">

            <div class="row">
                <div class="col-lg-12">
                   <i class="fas fa-flask"></i> FLASK
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                   <i class="fas fa-chart-pie"></i> matplotlib.pyplot
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                   <i class="fas fa-file-code"></i> base64
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                    <i class="fas fa-file-export"></i> BytesIO
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                   <i class="fas fa-database"></i> json
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                   <i class="fas fa-file-alt"></i> glob
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                   <i class="fas fa-info"></i> BeautifulSoup
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12">
                   <i class="fas fa-tasks"></i> requests
                </div>

            </div>
        </div>

    </div>
    <div class="row p-3">
            <div class="col-lg-6"></div>
            <div class="col-lg-6"><h1 class="display-4">Zastosowane podejścia</h1></div>

    </div>
    <div class="row p-3">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                       <i class="fas fa-heart"></i> Obiektowe
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                       <i class="fas fa-heart"></i> Strukturalne
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                       <i class="fas fa-heart"></i> Funkcyjne
                    </div>
                </div>
            </div>

            </div>

    </div>
</div>
{% endblock content %}
