{% extends "layout.html" %}
{% block content %}

<div class=".container">

    {%for item in items_data%}
    <div class=".container mt-5 p-5 border">
        <div class="row ">
            <div class="col-lg-4 pl-5"><img src="{{item.item_img}}"></div>
            <div class="col-lg-8"><h6 class="display-4" >{{item.item_name}}</h6></div>
        </div>
        <div class="row pt-3">
            <div class="col-lg-2 pt-5">
                {% set stars = item.item_avg_score.split('.') %}
                {% set star = stars[0] |int|round%}
                {% for i in range(star)%}
                <i class="fas fa-star fa-2x" style="color:#F9D63D"></i>
                {%endfor%}
                {{item.item_avg_score}}</div>
            <div class="col-lg-2 pt-5">Liczba Opinii : {{item.item_rev_num}} </div>
            <div class="col-lg-2 pt-5" style="text-align:right">Zalety: {{item.item_pros_count}}</div>
            <div class="col-lg-2 pt-5">Wady: {{item.item_cons_count}}</div>
            {% set end = '.json'%}
            {% set start = 'data/'%}
            {% set item_url = start ~ item.item_id ~ end%}
            <div class="col-lg-2 pt-5" style="text-align:right"><form action="{{ url_for('item') }}" method="POST"><button type="submit" class="btn btn-primary btn-sm" name="item_id" value="{{item.item_id}}">Zobacz Opinie</button></form></div>
            <div class="col-lg-2 pt-5" ><form action="{{ url_for('downloadFile') }}" method="POST"><button type="submit" class="btn btn-secondary btn-sm" name="downloadJson" value="{{item_url}}">Pobierz Opinie <i class="fas fa-download"></i></button></form></div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock content %}
