{% extends "layout.html" %}
{% block content %}
{%set x=item_name%}
<div class=".container">
    <form action="{{url_for('itemFilter')}}">
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="opFilter" value="bought">Kupione
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="opFilter" value="notbought">Nie Kupione
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input"  name="opFilter"value="recommended" >Polecane
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label">
                <input type="radio" class="form-check-input"  name="opFilter" value="notrecommended" >Nie polecane
              </label>
            </div>
            <button type="submit" class="btn btn-secondary ml-4">Filtruj</button>
    </form>

    <div class="dropdown" style="text-align:right">
        <a class="btn btn-info" href="{{ url_for('item_graphs',id=item_id)}}" role="button" >Zobacz wykresy</a>
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Sort by
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ url_for('itemSort', sort='rev_positive_votes', rev='True') }}">Pozytywne Opinie  (malejąco)</a>
            <a class="dropdown-item" href="{{ url_for('itemSort', sort='rev_positive_votes', rev='False') }}">Pozytywne Opinie  (rosnąco)</a>
            <a class="dropdown-item" href="{{ url_for('itemSort', sort='rev_negative_votes', rev='True') }}">Negatywne Opinie  (malejąco)</a>
            <a class="dropdown-item" href="{{ url_for('itemSort', sort='rev_negative_votes', rev='False') }}">Negatywne Opinie  (rosnąco)</a>
            <a class="dropdown-item" href="{{ url_for('itemSort', sort='pros_count', rev='True') }}">Liczba Zalet  (malejąco)</a>
            <a class="dropdown-item" href="{{ url_for('itemSort', sort='pros_count', rev='False') }}">Liczba Zalet  (rosnąco)</a>
            <a class="dropdown-item" href="{{ url_for('itemSort', sort='cons_count', rev='True') }}">Liczba Wad  (malejąco)</a>
            <a class="dropdown-item" href="{{ url_for('itemSort', sort='cons_count', rev='False') }}">Liczba Wad  (rosnąco)</a>
          </div>
    </div>
</div>
<div class=".container" style="margin-top:50px">
        <div class="row">
                <div class="col-lg-4"><img src="{{item_img}}"></div>

                <div class="col-lg-8"><h1 class="display-4">{{item_name}}</h1></div>
        </div>

{% for data in user_data%}

                <div class="row " style="margin-top:50px">
                        <div class="col-lg-2 pt-3 " style="background-color:#d8cfd8;"><i class="fas fa-user fa-7x" style="color:#949494"></i></div>
                        <div class="col-lg-3 pt-3 " style="background-color:#d8cfd8;"><h4 class="font-weight-normal">{{data.author}}</h4></div>
                        <div {%if data.recommended=='Polecam' %} class="col-lg-1 pt-3 font-weight-bolder text-success" {% else %} class="col-lg-1 pt-3 font-weight-bolder text-danger"{% endif%} style="background-color:#d8cfd8;">{{data.recommended}}</div>
                        <div class="col-lg-4 pt-3" style="background-color:#d8cfd8;">
                                {{data.stars}}
                                {% set starss = data.stars.split('/') %}
                                {% set stars = starss[0].split(',') %}
                                {% set star = stars[0] |int|round%}
                                {% for i in range(star)%}
                                <i class="fas fa-star" style="color:#ffff66"></i>
                                {%endfor%}
                        </div>
                        <div class="col-lg-1 pt-3" style="background-color:#d8cfd8;">{{data.rev_positive_votes}}<i class="fas fa-arrow-up pl-2" style="color:green"></i></div>
                        <div class="col-lg-1 pt-3" style="background-color:#d8cfd8;">{{data.rev_negative_votes}}<i class="fas fa-arrow-down pl-2" style="color:red"></i></div>

                </div>
                <div class="row" >
                        <div class="col-lg-2" style="background-color:#d8cfd8;"></div>
                        <div class="col-lg-10 pb-5 " style="background-color:#d8cfd8;">{{data.desc}}</div>

                </div>
                <div class="row" >
                            <div class="col-lg-6 pt-5" style="background-color:#d8cfd8;text-align:center"><h5 class="display-6 text-success">
                        {% if data.pros|length %}
                            Zalety
                        {%endif%}
                            </h5></div>
                            <div class="col-lg-6 pt-5" style="background-color:#d8cfd8;text-align:center"><h5 class="display-6 text-danger" >
                        {% if data.cons|length %}
                            Wady
                        {%endif%}
                            </h5></div>

                </div>
                <div class="row" >
                        <div class="col-lg-6 pb-3" style="background-color:#d8cfd8;text-align:center">
                            <ul class="list-group list-group-flush">
                                {%for pro in data.pros%}
                                <li class="list-group-item list-group-item-success">{{pro}}</li>
                                {%endfor%}
                            </ul>



                        </div>
                        <div class="col-lg-6 pb-3" style="background-color:#d8cfd8;text-align:center">
                            <ul class="list-group list-group-flush">
                                {% if data.cons|length %}
                                    {%for con in data.cons %}
                                <li class="list-group-item list-group-item-danger">{{con}}</li>
                                    {%endfor%}
                                {%endif%}

                            </ul>
                        </div>
                </div>

    {% endfor%}
</div>
{% endblock content %}
